[submodule "confiax-backend"]
	path = confiax-backend
	url = https://github.com/ClaitonBarreto/confiax-backend.git
[submodule "confiax-frontend"]
	path = confiax-frontend
	url = https://github.com/ClaitonBarreto/confiax-frontend.git
