[submodule "backend"]
	path = backend
	url = https://github.com/ClaitonBarreto/confiax-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/ClaitonBarreto/confiax-frontend.git
